{% extends "app/base.html" %}
{% load static %}
{% block title %} Contact {% endblock title %}

{% block main-content %}
<div class= "container mt-3">
    <br>
    <h2 class="text-center">Contact us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Address: <b>Old Washermenpet, Chennai, Tamil Nadu, India</b></p>
        <p class="fs-4 text-center">Contact: <a href="https://www.instagram.com/think___creator/">Vanguard Attire</a></p>
        <p class="fs-4 text-center">Email: <b>dhanushanand1307@gmail.com</b></p>
    </div>
</div>  
{% endblock main-content %}